html,body{
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto', sans-serif;
	color: #141215;
}
.full-height{
	min-height: 100%;
}
img{
	max-width: 100%;
}
.active-border{
	border-bottom: solid 1px #E6344A;
}
.maybe-border:hover{
	border-bottom: solid 1px #E6344A;	
}
.text-shadow{
	text-shadow:2px 2px 5px rgba(0,0,0,0.8);
}
.pointer{
	cursor: pointer;
}
.border-text-shadow{
	text-shadow:0px 0px 1px #E6344A, 0px 0px 0px #E6344A, 0px 0px 2px #E6344A;
}
.border-box-shadow{
	box-shadow:0px 0px 0px #000, 0px 0px 1px #000;
}
.be-medium{
	font-size: 1.5em;
}
.be-big{
	font-size: 3.5em;
}
.be-small{
	font-size: 0.8em;
}
.box-shadow{
	filter: drop-shadow(2px 2px 10px rgba(0,0,0,0.8));
	-webkit-filter: drop-shadow(2px 2px 10px rgba(0,0,0,0.8));
	-moz-filter: drop-shadow(2px 2px 10px rgba(0,0,0,0.8));
	-ms-filter: drop-shadow(2px 2px 10px rgba(0,0,0,0.8));
}
.no-padding{
	padding: 0px;
}
.no-list{
	list-style-type: none;
	padding-left: 0px;
}
.no-margin{
	margin: 0px;
}
.inline-block{
	display: inline-block;
	float: none;
	margin-right: -4px;
	vertical-align: middle;
}
.be-in-top{
	vertical-align: top;
}
.no-float{
	float: none !important;
}
.full-width{
	width: 100%;
}
.red{
	color: #E6344A;
}
.white{
	color: #fff;
}

.blue{
	color: #0B5379;
}
.facebook-blue{
	color: #384c8e;
}
.light-blue{
	color: #04779B;
}
.yellow{
	color: #FBB351;
}
.black{
	color: #141215;
}
.be-facebook-blue{
	background-color: #384c8e;
}
.be-red{
	background-color: #E6344A;
}
.be-blue{
	background-color: #0B5379;
}
.be-light-blue{
	background-color: #04779B;
}
.be-light-facebook{
	background-color: #e8ebf1;
}
.be-white{
	background-color: #fff;
}
.be-gray{
	background-color: #E7ECEE;
}
.be-yellow{
	background-color: #FBB351;
}
.big-top-space{
	margin-top: 35%;
}
.medium-top-space{
	margin-top: 7em;
}
.big-padding-top-space{
	padding-top: 10%;
}
.top-space{
	margin-top: 1em;
}
.ultra-big-top-space{
	margin-top: 300px;
}
.aligner-vertical {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom-space{
	margin-bottom: 1em;
}
.underline{
	text-decoration: underline;
}
.large-padding{
	padding: 8px 12px;
}
.chat-message{
	padding-bottom:8px;
	position: relative;
	background-color: #f25b50;
	border-radius: 5px;
}
.soft-hidden{
	opacity: 0;
}
.radius{
	border-radius: 3px;
}
.big-radius{
	border-radius: 10px;
	overflow: hidden;
}
.fixed{
	position: fixed;
	top: 0px;
}
.relative{
	position: relative;
}
.absolute{
	position: absolute;
}
.form-control-custom{
	border: none;
	outline: none;
	background-color: #F2F5F4;
	color: #999;
}
.delay-1{
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}
.delay-2{
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	animation-delay: 2s;
}
.delay-3{
	-webkit-animation-delay: 3s;
	-moz-animation-delay: 3s;
	animation-delay: 3s;
}
.delay-4{
	-webkit-animation-delay: 4s;
	-moz-animation-delay: 4s;
	animation-delay: 4s;
}
.delay-5{
	-webkit-animation-delay: 5s;
	-moz-animation-delay: 5s;
	animation-delay: 5s;
}
.delay-6{
	-webkit-animation-delay: 6s;
	-moz-animation-delay: 6s;
	animation-delay: 6s;
}
.main-menu{
	height: 40px;
	z-index: 10000;
}
.main-menu ul{
	background-color: #E7ECEE;
	
}
.main-menu > ul{
	padding-top: 8px;
	padding-bottom: 8px;
}
.main-menu a{
	color: #3F4C5D;
}
.main-menu li{
	text-align: center;
	transition:background-color 0.2s;
	padding: 5px 10px;
}
.main-menu li.relative{
	z-index: 10;
}
.main-menu li.relative ul{
	max-height: 0px;
	
	left: 0px;
	background-color: #E7ECEE;
	border-radius: 3px;
	overflow: hidden;
	width: 100%;
	text-align: left;
	transition:max-height 0.2s;
}
.main-menu li.relative ul li{
	text-align: left;
}
.main-menu li:hover{
	background-color: #CBD0D2;
}
.main-menu li.relative:hover ul{
	max-height: 150px;
	
}
.main-menu > ul{
	right: 0px;
	left: 0px;
	top: 10px;
}
.chat-message:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-width: 10px;
	border-style: solid;
	border-color: transparent #f25b50 transparent transparent;
	top: 5px;
	left: -18px;

}
.chat-message-blue{
	padding-bottom:8px;
	position: relative;
	background-color: #04779B;
	border-radius: 5px;
}
.chat-message-blue:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent transparent #04779B;
	top: 5px;
	right: -18px;

}